<div class="game-board">
  <mat-toolbar color="primary">
    <span>Miss K's Supersonic Sentence Slam</span>
    <span class="spacer"></span>
    <button mat-button (click)="startGame(1)">Level 1</button>
    <button mat-button (click)="startGame(2)">Level 2</button>
    <button mat-button (click)="startGame(3)">Level 3</button>
  </mat-toolbar>
  <div class="subheader">
    <span>Selected Level: {{ currentLevel }}</span>
    <span>Question: {{ currentQuestionIndex + 1 }} of {{ questions.length }}</span>
    <span *ngIf="remainingTime">Timer: {{ remainingTime }}s</span>
  </div>
  <mat-card *ngIf="questions.length > 0" class="question-card">
    <mat-card-content>
      <div class="question-box">
        <div class="overlay" *ngIf="overlayMessage">
          {{ overlayMessage }}
        </div>
        {{ questions[currentQuestionIndex].sentence }}
      </div>
      <div class="options-container">
        <div class="option" *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
          <span class="option-label">{{ 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[i] }}</span>
          <button mat-raised-button [disabled]="buttonsDisabled" (click)="checkAnswer(i, questions[currentQuestionIndex].correctAnswers)">
            {{ option }}
          </button>
          <mat-icon *ngIf="feedbackIcons[i]">{{ feedbackIcons[i] === 'check' ? 'check_circle' : 'cancel' }}</mat-icon>
        </div>
      </div>
      <div *ngIf="showCorrectAnswer">
        <button mat-raised-button color="accent" (click)="nextQuestion()">Next Question</button>
      </div>
      <button mat-raised-button color="warn" (click)="helpMeMissK()">Help me Miss K!</button>
    </mat-card-content>
  </mat-card>
</div>
